body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Poppins';
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.swinging-image {
    position: relative;
    width: 150px;
    height: auto;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    animation: swing 8s ease-in-out infinite alternate;
    transform-origin: top center;
    pointer-events: none;
    filter: grayscale(100%);
}

@keyframes swing {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.fade-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-size: 24px;
    color: white;
    cursor: pointer;
    outline: none;
    user-select: none;
    text-decoration: none;
    transition: transform 0.3s, opacity 0.5s;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white; 
}

.fade-button:hover {
    color: white;
    text-decoration: underline;
    transform: translate(-50%, -60%);
}

.fade-button:active {
    opacity: 0; 
}

.snowflake-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
}

.snowflake {
    position: absolute;
    top: -10px;
    background-color: white;
    border-radius: 50%;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.names-list {
    position: fixed;
    top: calc(50% - 300px);
    right: calc(50% - 500px);
    height: calc(200px);
    z-index: 999;
    color: white;
    font-family: 'Poppins';
    font-size: 24px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.names-list.show {
    opacity: 1;
}

.names-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: max-content; 
}

.names-list ul li {
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.5s ease, transform 0.3s ease; 
    font-size: 24px; 
    font-smooth: always; 
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility; 
    cursor: pointer;
    padding: 0px 0px; 
}

.names-list ul li span {
    display: inline-block;
    filter: blur(2px); 
}

.names-list ul li:hover span {
    filter: none; 
}

.names-list ul li:hover {
    text-decoration: none;
}







* {cursor: url(cursor.cur), auto !important;}

.blood-splat {
    position: fixed; 
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    z-index: 9999;
    width: 100px;
    height: auto;
    clip-path: circle(50%);
}

.blood-splat img {
    width: 100%;
    height: auto;
}

.blood-splat.active {
    opacity: 1;
}

@font-face {
    font-family: 'Munich';
    src: url('assets/munich.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

.english-name-popup {
    font-family: 'Poppins', sans-serif;
    font-size: 36px; 
    color: white; 
    background-color: transparent;
    padding: 30px; 
    border-radius: 20px;
    transition: bottom 0.5s ease, text-shadow 0.3s ease-in-out;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white; 
}

.english-name-popup:hover,
.show-popup {
    bottom: 20px; 
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white; 
}

.snowflake-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.snowflake {
    position: absolute;
    top: -20%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: snow;
    animation: snowfall 12s linear infinite;
    z-index: 0;
}

@keyframes snowfall {
    0% {
        transform: translateY(0) rotate(0);
    }
    100% {
        transform: translateY(120vh) rotate(360deg);
    }
}

@keyframes sway {
    0%,
    100% {
        transform: translateX(calc(-1 * var(--sway-amplitude)));
    }
    50% {
        transform: translateX(var(--sway-amplitude));
    }
}