body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-layer {
    position: absolute;
    bottom: 45%;
    display: flex;
    gap: 20px;
}

.button-layer span {
    padding: 12px 24px; 
    font-size: 18px; 
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    cursor: pointer;
}

#yes-btn {
    color: green;
}

#no-btn {
    color: red;
}

.button-layer span:hover {
    opacity: 0.8;
}

#enter-type-in {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px; 
    text-shadow: 0 0 0.05em #fff;
    color: white;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.progress-bar {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 20px;
    border: 2px solid white;
}

.progress-fill {
    height: 100%;
    background-color: white;
    width: 0;
}

.mouse-symbol {
    position: fixed;
    color: white;
    font-size: 18px; 
    pointer-events: none;
    z-index: 2;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



.ball {
    position: absolute;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white;
    width: 100px;
    height: 100px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px; 
    opacity: 0;
    animation: fadeIn 1s ease forwards,
               fadeOut 1s ease forwards 2s;
    background-color: transparent;
    z-index: 2; 
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.neon-text {
    font-size: 20px; 
    animation: neon-flicker 1.5s infinite alternate, neon-glow 1.5s infinite alternate;
}

.fade-in {
    animation: fade-in 3s forwards;
}

@keyframes neon-flicker {
    0% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes neon-glow {
    0% {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white;
    }
    100% {
        text-shadow: 0 0 7px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    user-select: none;
}